
/*** Fonts import ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/*** regular css ***/

/*

// colors reference guide
export const colors = {
	BANK_ORCHID:'#6D29FE',
	BANK_RED: '#D02128',   // primary red
	BANK_BLACK:  '#111111',
	BANK_ASH: '#4F4F4F',
	BANK_ASH2: '#313131',
	BANK_ASHL: '#A3A3A3',  // ash light
	BANK_WHITE: '#EEEEEE', //
};

*/

* {
  font-family: 'Roboto', sans-serif;

}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

.App {
  background-color: #828282;
}

.header {
  width: 100%;
  padding: 2%;
  background-color:#BE2BAE;
  color: white;
  text-align: center;
}

.buttonGradient {
  background: rgb(211,15,50);
  background: linear-gradient(90deg, rgba(211,15,50,1) 0%, rgba(190,43,174,1) 100%);
}

.text-center {
  width:100%;
}

.display-board {
  width: 100%;
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}

.current-user {
  background-color: lightblue;
  padding: 5%;
  position:relative;

  left: 365px;
  margin-top: 80px;
}

.current-user.active {
  left: 0px;
  margin-top: 0px;
}

.new-user {
  background-color: lightyellow;
  padding-bottom: 10px;
}

.number {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

.mrgnbtm {
  margin-top: 20px;
}

.priceBoxes {
  background-color: white;    /* rgb(214,51,132, 0.1); PINK */
  margin-bottom: 10px;
}

.priceBoxes .col {
  background-color: rgba(112,44,249,.1);    /* rgba(255,228,132,1); */
  border: 3px solid rgba(112,44,249,0.25);
  border-width: 2px 2px 2px 3px;
}

.priceBoxes .col.top {
  border-radius: 0;
}

.tsForm, .trForm {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.ssForm {
  background-color: #F8F8F8;
}

.swapTitle {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.swapTitle span {
  font-weight: 500;
  text-decoration: underline;
}

.swapBoxContainer {
  background: rgb(211,15,50);
  background: linear-gradient(90deg, rgba(211,15,50,1) 0%, rgba(190,43,174,1) 100%);
  border-radius: 20px;
  padding: 1px;
}

.swapBox {
  border-radius: 19px;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.18);
  background: white;
}

.muted {
  color: #313131;
  font-weight: 300;
  margin-top: 1rem;
}

#calcAmt {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
}

.tsForm h5, .trForm h5 {
  font-weight: 700;
  font-style: italic;
  border-bottom: 2px solid blue;
}

#selectBS, #sel-cur, #tradeAmount, #currencyOut, #currencyIn {
  width: 90%;
}

#swapAmount, #calcAmt {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Space Grotesk';
  text-align: right;
}

#swapAmount {
  border-color: transparent;
  border-radius:5px
}

.textRight {
  text-align: right;
}

#calcAmt {

  line-height:2;
}

#currencyOut, #currencyIn {
  font-weight:700;
  font-size: 24px;
  font-family: 'Space Grotesk';
  border-color: transparent;
}

#tradePrice {
  width: 70%;
}

#tradeSubmit {
  float: right;
}

.qrContainer {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
}

.qrContainer img {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

/* real design style starts here */
.profileContainer {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow:hidden;
  text-align:center;
}

.profileContainer .userLogo {
  display: inline;
  margin: -6px -8px;
  height: 115%;
  width: auto;
}

.alertContainer {
  float:right;
  width:35px;
  height:35px;
  border-radius:6px;
  padding:7px;
  overflow:hidden;
  text-align:center;

  box-shadow: 0px 0px 8px rgba(0,0,0,0.18);
}

.alertContainer .alertLogo {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.balanceLabel {
  text-align:center;
}

.hl {
  color: red;
}

.avTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.buttonRow {
  margin-top: 20px;
  position: relative;
  left: 6px;
}

.buttonContainer {
  text-align: center;
  width: 50%;
}

.bigBtn {
  display:inline-block;
  padding: 15px 30%;
}

.tokenBadge {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.badgeContainer {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow:hidden;
  text-align:center;
}

span.dailyMove {
  color: red;
}

.table tr.surplus {
  display:none;
}

.table[isactive="true"] tr.surplus {
  display: block;
}

.tokenBox {
  margin: 5px;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.18);
}

.flipButtonBox {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:45%;
  border-radius: 20%;
  overflow:hidden;
  text-align:center;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.18);
  background: white;
}

.flipButtonBox img {
  margin: 12px;
}

.miniPrices {
  list-style: none;
  margin:0;
  padding:0;
}

.miniPrices li {
  float:left;
  margin-right: 5px;
}

.maxBtn {
  float: right;
  padding: 5px;
  margin: 5px 10px;
  cursor: pointer;
}

#swapSubmit {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  background: linear-gradient(90deg, rgba(211,15,50,1) 0%, rgba(190,43,174,1) 100%);

}

#myTokensContainer {
  border: none;
  background: linear-gradient(90deg, rgba(211,15,50,1) 0%, rgba(190,43,174,1) 100%);
  border-radius: 10px;
  margin: 30px 20px;
  padding: 1px;

  box-shadow: 0px 0px 8px rgba(0,0,0,0.13);
}

.toolSelect {
  margin: 20px 10px 30px 0;
  font-size: 24px;
  font-weight: 700;
}

#myTokensBacker {
  background: white;
  padding: 15px 15px 5px 15px;
  border-radius: 9px;
}

#myTokensContainer h4 {
  color: #BE2BAE;
}

.table td {
  border-top:none;
}

.heroTitle, .heroBalance {
  font-size:22px;
}

.heroBalance {
  float:right;
}

.clearFloat {
  clear:both;
}

#myTokensContainer tfoot {
  border-top: 2px solid #BE2BAE;
  text-align: center;
}

#myTokensContainer tfoot p {
  color: #BE2BAE;
  margin:0;
  padding:0;
}

#myTokens {
  margin-bottom:0;
}

#myTokens tfoot td {
  padding: 0;
}